# Análise Exploratória de Dados da Construção Civil
## Dados do CNO Cadastro Nacional de Obras
<br>
Os Dados foram extraídos de 
[Site Oficial Dados Gov.Br](https://dados.gov.br/dados/conjuntos-dados/cadastro-nacional-de-obras-cno).

***
Licença: Creative Commons Atribuição<br>
Formatos: PDF; zip+csv;<br>
Atualização: - Última alteração: 24/11/2022 14:43:55
***

### Legendas:
#### Qualificação do responsável
Qualificação do responsável pela obra <br>
0070 - Proprietário do Imóvel <br>
0057 - Dono da Obra <br>
0064 - Incorporador de Construção Civil <br>
0053 - Pessoa Jurídica Construtora <br>
0111 - Sociedade Líder de Consórcio <br>
0109 - Consórcio <br>
0110 - Construção em nome coletivo <br>
#### Situação
Situação da obra
01 - NULA <br>
02 - ATIVA <br>
03 – SUSPENSA <br>
14 - PARALISADA <br>
15 - ENCERRADA <br>

### Vamos iniciar o carregamento dos dados.

In [2]:
import pandas as pd

# Inserindo o caminho para o arquivo em variável separada, fica melhor a manipulação e mais legível o código
path_to_file = r'C:\Workspace\CURSO ADA TECH\MODULO II - tecnicas de programação\projeto_ccvil\cno.parquet'

# Criando o DataFrame que iremos trabalhar.
df_cno = pd.read_parquet(path_to_file)

### Limpando duplicatas

In [3]:
df_cno.drop_duplicates()

,CNO,Código do Pais,Nome do pais,Data de início,Data de inicio da responsabilidade,Data de registro,CNO vinculado,CEP,NI do responsável,Qualificação do responsavel,...,Bairro,Estado,Caixa Postal,Complemento,Unidade de medida,Área total,Situação,Data da situação,Nome empresarial,Código de localização
0,10010092278,105,BRASIL,1992-02-20,1992-02-20,2022-05-17,NaN,71215207,2.688984e+12,57,...,ZONA INDUSTRIAL (GUARA),DF,NaN,LOTES 3/5,m2,412.00,2,2002-11-30,M H TECNOLOGIA LTDA,None
1,10010144970,105,BRASIL,1997-12-29,1997-12-29,2023-05-22,NaN,73310303,3.677093e+13,70,...,SETOR COMERCIAL CENTRAL (PLANALTINA),DF,NaN,PLAZA SHOPPING,m2,3008.56,15,2023-05-19,SANTA PAULA ENGENHARIA E COMERCIO LTDA,98PW75So+br
2,10010199274,105,BRASIL,1993-12-10,1993-12-10,2022-12-13,NaN,70390140,5.328120e+11,70,...,ASA SUL,DF,NaN,MODULO A,m2,11785.60,2,1997-12-23,CENTRO OESTE - INSTITUTO DE EDUCACAO LTDA,64JG+96
3,10010251669,105,BRASIL,2017-09-14,2017-09-14,2020-09-04,NaN,71530065,NaN,70,...,SETOR DE HABITACOES,DF,NaN,None,m2,24.21,15,2019-11-01,None,None
4,10010287967,105,BRASIL,1992-05-01,1992-05-01,2019-06-24,NaN,71675320,NaN,70,...,SETOR DE HABITACOES INDIVIDUAIS SUL,DF,NaN,None,m2,381.29,2,1992-05-01,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219856,900176631965,105,BRASIL,2023-11-16,2023-11-16,2024-01-10,NaN,78360000,NaN,70,...,JARDIM ITALIA II,MT,NaN,QUADRA 119 LOTE 17-B,m2,70.65,15,2023-12-20,None,58R4939P+F2
2219857,900176632061,105,BRASIL,2024-01-04,2024-01-04,2024-01-10,NaN,37273000,NaN,70,...,RESIDENCIAL BELVEDERE--BELA VISTA,MG,NaN,None,m2,65.83,15,2024-01-09,None,58FP3J25+QR
2219858,900176632164,105,BRASIL,2024-01-08,2024-01-08,2024-01-11,NaN,57309768,NaN,70,...,MASSARANDUBA,AL,NaN,"QD C, LOT. ALTO DO MORRO",m2,76.35,2,2024-01-08,None,692578PM+RH
2219859,900176632271,105,BRASIL,2023-10-27,2023-10-27,2024-01-11,NaN,45810000,1.795883e+13,57,...,ESTRADA DA BALSA,BA,NaN,None,m2,2280.00,2,2023-10-27,BMH PARTICIPACOES E EMPREENDIMENTOS S/A,59M2GW8H+P6
2219860,900176632368,105,BRASIL,2018-01-02,2018-01-02,2024-01-11,NaN,80820560,NaN,57,...,VISTA ALEGRE,PR,NaN,None,m2,153.76,15,2018-12-31,None,HPQ34200+00

### Vamos para as primeiras análises a respeito do DataFrame.
Além disso, vamos realizar uma limpeza nos dados redundantes, ou que estão quebrando os padrões, além disso, apenas a titulo de pesquisa, vamos
eliminar algumas colunas, para compactar melhor nosso DataFrame. <br>

Decidimos excluir colunas redundantes como "Código do Pais", "Nome do pais", "Bairro", "Complemento"

In [ ]:
# Vamos analisar as primeiras linhas do DataFrame
df_cno.head()

In [4]:
# Vamos analisar as ultimas linhas do DataFrame
df_cno.tail()

,CNO,Código do Pais,Nome do pais,Data de início,Data de inicio da responsabilidade,Data de registro,CNO vinculado,CEP,NI do responsável,Qualificação do responsavel,...,Bairro,Estado,Caixa Postal,Complemento,Unidade de medida,Área total,Situação,Data da situação,Nome empresarial,Código de localização
2219856,900176631965,105,BRASIL,2023-11-16,2023-11-16,2024-01-10,NaN,78360000,NaN,70,...,JARDIM ITALIA II,MT,NaN,QUADRA 119 LOTE 17-B,m2,70.65,15,2023-12-20,None,58R4939P+F2
2219857,900176632061,105,BRASIL,2024-01-04,2024-01-04,2024-01-10,NaN,37273000,NaN,70,...,RESIDENCIAL BELVEDERE--BELA VISTA,MG,NaN,None,m2,65.83,15,2024-01-09,None,58FP3J25+QR
2219858,900176632164,105,BRASIL,2024-01-08,2024-01-08,2024-01-11,NaN,57309768,NaN,70,...,MASSARANDUBA,AL,NaN,"QD C, LOT. ALTO DO MORRO",m2,76.35,2,2024-01-08,None,692578PM+RH
2219859,900176632271,105,BRASIL,2023-10-27,2023-10-27,2024-01-11,NaN,45810000,1.795883e+13,57,...,ESTRADA DA BALSA,BA,NaN,None,m2,2280.00,2,2023-10-27,BMH PARTICIPACOES E EMPREENDIMENTOS S/A,59M2GW8H+P6
2219860,900176632368,105,BRASIL,2018-01-02,2018-01-02,2024-01-11,NaN,80820560,NaN,57,...,VISTA ALEGRE,PR,NaN,None,m2,153.76,15,2018-12-31,None,HPQ34200+00

In [47]:
# Analisando dados faltantes no DataFrame
df_cno.isnull().sum()

CNO                                         0
Data de início                              0
Data de inicio da responsabilidade          0
Data de registro                            0
CNO vinculado                         2219621
CEP                                         0
NI do responsável                     1436781
Qualificação do responsavel                 0
Nome                                    20084
Código do municipio                         0
Nome do município                           0
Tipo de logradouro                          0
Logradouro                                  5
Número do logradouro                      166
Estado                                      0
Unidade de medida                           0
Área total                                  0
Situação                                    0
Data da situação                            0
Nome empresarial                      1436781
Código de localização                 1522433
dtype: int64

In [46]:
# Realizando uma análise dos dados categóricos
df_cno.describe(include=['object','bool'])

,CEP,Nome,Código do municipio,Nome do município,Tipo de logradouro,Logradouro,Número do logradouro,Estado,Unidade de medida,Nome empresarial,Código de localização
count,2219855,2199771,2219855,2219855,2219855,2219850,2219689,2219855,2219855,783074,697422
unique,369194,1441276,5561,5288,45,855143,68543,28,6,177911,544594
top,59575000,CONGREGACAO CRISTA NO BRASIL,7107,SÃO PAULO,RUA,BRASIL,SN,SP,m2,CONGREGACAO CRISTA NO BRASIL,00000000+00
freq,6495,2745,44319,44319,1731349,3840,168737,665168,2103795,3409,20049

In [5]:
# Verificando se existem dados de outros países, pois quero examinar apenas os dados Brasil.
df_cno['Nome do pais'].value_counts()

Nome do pais
BRASIL        2219855
A DESIGNAR          3
ARGENTINA           2
AUSTRIA             1
Name: count, dtype: int64

In [6]:
# Identifiquei que possuem alguns mínimos dados classificados como outro pais.
# diante disso, vou excluir estes dados do DataFrame.
exclude_values = ['A DESIGNAR', 'ARGENTINA', 'AUSTRIA']

df_cno= df_cno[~df_cno['Nome do pais'].isin(exclude_values)]

df_cno['Nome do pais'].value_counts()

Nome do pais
BRASIL    2219855
Name: count, dtype: int64

In [7]:
# Após ter feito esta limpeza, como temos apenas um País: BRASIL, não é mais necessária esta coluna.
# df_cno = df_cno.drop(['Nome do pais', 'Código do Pais', 'Bairro', 'Complemento', 'Caixa Postal'], axis=1)

In [8]:
df_cno['Estado'].value_counts()

Estado
SP    665168
MG    301412
RS    248582
PR    236237
SC    146697
GO    121581
MT     61795
CE     53121
MS     48424
BA     36825
RN     33962
PB     31284
RJ     28786
PE     28145
ES     23736
PI     21023
PA     20982
MA     17169
SE     16641
RO     16277
AL     15712
TO     14390
DF     11654
AM      6392
RR      5280
AC      5158
AP      3420
EX         2
Name: count, dtype: int64

In [9]:
situation_mapping = {
    1: 'NULA',
    2: 'ATIVA',
    3: 'SUSPENSA',
    14: 'PARALISADA',
    15: 'ENCERRADA',    
} 

df_cno['Situação'].replace(situation_mapping).value_counts()

Situação
ENCERRADA     1336956
ATIVA          797539
PARALISADA      46575
NULA            32456
SUSPENSA         6329
Name: count, dtype: int64

### Tratamento de Datas e Horas.

Como as colunas que se referem às datas estão como tipo Object, precisamos tratar essas colunas para Data.

In [45]:
import datetime

date_columns = ["Data de início", "Data de inicio da responsabilidade", "Data de registro", "Data da situação"]

for columns in date_columns:
    df_cno[columns] = pd.to_datetime(df_cno[columns])

### Analise Exploratoria de Dados

### Dados sobre metros quadrados

In [72]:
#Total de area total. em Km²
total = round(df_cno['Área total'].sum()/1000, 2)
print(f'Temos um total de {total} Km² de área total em todos os dados registrados')

Temos um total de 317330373.25 Km² de área total em todos os dados registrados